[run]
omit = watson/framework/bin.py, watson/framework/support/console/commands/application.py, watson/framework/i18n/locales/*

[html]
directory = tests/_coverage

[report]
exclude_lines =
    pragma: no cover
    pass
