# OSX & Workspace
.DS_STORE
*.sublime-project
*.sublime-workspace
tests/_coverage
docs/_build

### Python ###
*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__
*.pyc

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
tests/_coverage

# Translations
*.mo

# Documentation
docs/_build
