language: python
python:
  - 3.3
  - 3.4
install:
  - pip install -r requirements-test.txt --use-mirrors
  - pip install -r requirements.txt --use-mirrors
before_script:
  - mkdir -p tests/_coverage
script:
  - py.test tests/ --cov watson --cov-report term-missing
after_success:
  - coveralls --verbose
notifications:
  slack:
    secure: T/JltnYcwN8CJaqkzMOZmMPPbwOEeW2MkDn/aEVZ9uz9pQBalUIxuzcbhFSUvtQWJhKzHllFiC2caLQM5khal7zebRkQtcifDoKVbrQpJrAANc74KEQpuFN5ALYI1ts7Ec7G7AfkNAywYKzP0rZhgFvmhbIor2jErO6oyCULLeM=
