include README.rst
include AUTHORS
include LICENSE
include requirements.txt
include requirements-test.txt
recursive-include watson/framework/debug/views *
recursive-include watson/framework/views/templates/html *
