Pygments == 1.6
Jinja2 >= 2.7.2
watson-cache >= 1.0.1
watson-common >= 1.2.0
watson-console >= 2.0.1
watson-dev >= 1.0.2
watson-di >= 2.1.0
watson-filters >= 1.0.0
watson-form >= 2.0.1
watson-html >= 1.0.1
watson-routing >= 1.0.7
watson-validators >= 1.0.1
